<div class="row widgets">
	<!-- social -->
	<% if(widgets['social']) { %>
	<div class="col s8">
		<div class="widget">
			<div class="row" style="margin-bottom:0px;">
				<div class="col s6" onclick="apretaste.send({command:'AMIGOS'})">
					<p class="label">Amigos</p>
					<i class="fas fa-user-friends"></i> <%= widgets['social'].amigos %>
				</div>
				<div class="col s6" onclick="apretaste.send({command:'RANKING'})">
					<p class="label">Ranking</p>
					<i class="fas fa-trophy"></i> #<%= widgets['social'].ranking %>
				</div>
			</div>
			<div class="division"></div>
			<div class="row" style="margin-bottom:0px;">
				<div class="col s6" onclick="apretaste.send({command:'CHAT'})">
					<p class="label">Chats</p>
					<i class="fas fa-comments"></i> <%= widgets['social'].mensajes %>
				</div>
				<div class="col s6" onclick="apretaste.send({command:'RETOS'})">
					<p class="label">Retos</p>
					<i class="fas fa-flag"></i> <%= widgets['social'].retos %>
				</div>
			</div>
		</div>
	</div>
	<% } %>

	<!-- online -->
	<% if(widgets['online']) { %>
	<div class="col s4">
		<div class="widget">
			<p class="label">Activo desde</p> 
			<span class="white-text"><small><%= widgets['online'].desde %></small></span>
			<div class="division"></div>
			<i class="fas fa-circle fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana >=2 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana >=3 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana >=4 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<br>
			<i class="fas <%= widgets['online'].semana >=5 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana >=6 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana ==7 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
		</div>
	</div>
	<% } %>

	<!-- experiencia -->
	<% if(widgets['experiencia']) { %>
	<div class="col s4">
		<div class="widget">
			<p class="label">Experiencia</p>
			<i class="fas fa-bolt"></i> <%= widgets['experiencia'].experiencia %>
			<div class="division"></div>
			<i class="fas fa-gem"></i><br>
			<%= widgets['experiencia'].nivel %>
		</div>
	</div>
	<% } %>

	<!-- amuletos -->
	<% if(widgets['amuletos']) { %>
	<div class="col s4" onclick="apretaste.send({command:'AMULETOS'})">
		<div class="widget">
			<p class="label">Amuletos</p>
			<div class="division" style="margin-bottom:10px;"></div>
			<span class="fa-stack fa-1x" style="margin:2px;">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="material-icons fa-stack-1x fa-inverse green-text"><%= widgets['amuletos'].one %></i>
			</span>
			<span class="fa-stack fa-1x" style="margin:2px;">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="material-icons fa-stack-1x fa-inverse green-text"><%= widgets['amuletos'].two %></i>
			</span>
			<span class="fa-stack fa-1x" style="margin:2px;">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="material-icons fa-stack-1x fa-inverse green-text"><%= widgets['amuletos'].three %></i>
			</span>
		</div>
	</div>
	<% } %>

	<!-- pizarra -->
	<% if(widgets['pizarra']) { %>
	<div class="col s4" onclick="apretaste.send({command:'PIZARRA'})">
		<div class="widget">
			<p style="margin:0px;">Pizarra</p>
			<p class="label">Hoy</p>
			<div class="division"></div>
			<i class="fas fa-thumbs-up"></i> <%= widgets['pizarra'].reactions %>
			<br>
			<i class="fas fa-comments"></i> <%= widgets['pizarra'].comment %>
		</div>
	</div>
	<% } %>

	<!-- ayuda -->
	<% if(widgets['ayuda']) { %>
	<div class="col s4" onclick="apretaste.send({command:'AYUDA SOPORTE'})">
		<div class="widget">
			<i class="fas fa-headset fa-2x" style="margin-top: 8px;"></i>
			<div class="division"></div>
			<p class="label">Soporte</p>
			<i class="fas fa-comment"></i> <%= widgets['ayuda'].tickets %>
		</div>
	</div>
	<% } %>

	<!-- rifa -->
	<% if(widgets['rifa']) { %>
	<div class="col s4" onclick="apretaste.send({command:'RIFA'})">
		<div class="widget">
			<p>Rifa</p>
			<div class="division"></div>
			<p class="label">
				<% if(widgets['rifa'].fecha) { %>
					<%= moment(widgets['rifa'].fecha).format("MMM D") %>
				<% } else { %>
					No hay rifas
				<% } %>
			</p>
			<i class="fas fa-ticket-alt"></i> <%= widgets['rifa'].tickets %>
		</div>
	</div>
	<% } %>

	<!-- bolita -->
	<% if(widgets['bolita']) { %>
	<div class="col s4" onclick="apretaste.send({command:'BOLITA'})">
		<div class="widget">
			<p class="label">Bolita</p>
			<small><%= moment(widgets['bolita'].corrida).format("MMMM D") %></small>
			<div class="division"></div>
			<div class="lime-text">
				<%= widgets['bolita'].papeleta_day %><%= widgets['bolita'].fijo_day %> <%= widgets['bolita'].corrido1_day %> <%= widgets['bolita'].corrido2_day %>
			</div>
			<div class="blue-grey-text text-darken-4">
				<%= widgets['bolita'].papeleta_night %><%= widgets['bolita'].fijo_night %> <%= widgets['bolita'].corrido1_night %> <%= widgets['bolita'].corrido2_night %>
			</div>
		</div>
	</div>
	<% } %>

	<!-- piropazo -->
	<% if(widgets['piropazo']) { %>
	<div class="col s4" onclick="apretaste.send({command:'PIROPAZO'})">
		<div class="widget">
			<p class="label">Parejas</p>
			<i class="fas fa-heart"></i> <%= widgets['piropazo'].parejas %>
			<div class="division"></div>
			<p class="label">Le gustas</p>
			<i class="fas fa-grin-hearts"></i> <%= widgets['piropazo'].likes %>
		</div>
	</div>
	<% } %>

	<!-- noticia -->
	<% if(widgets['noticia']) { %>
	<div class="col s8" onclick="apretaste.send({command:'NOTICIAS HISTORIA', data:{id: widgets['noticia'].id}})">
		<div class="widget">
			<p class="left-align" style="margin:0px;"><%= widgets['noticia'].titulo %></p>
			<div class="division"></div>
			<span style="margin-right:10px;"><i class="fas fa-newspaper"></i> <%= widgets['noticia'].canal %></span>
			<i class="fas fa-comment"></i> <%= widgets['noticia'].comment %>
		</div>
	</div>
	<% } %>
</div>

<!-- FILTERS -->
<div id="filters" class="row">
	<div class="col s12 scrolleable">
		<span id="favoritos" class="chip tiny" onclick="filtrar('favoritos')"><i class="fas fa-star"></i> <span class="filter">Favoritos</span> (<span id="favorite-count"><%= favorites %></span>)</span>
		<span id="todos" class="chip tiny" onclick="filtrar('todos')"><i class="fas fa-check-circle"></i> <span class="filter">Todos</span> (<%= services.length %>)</span>
		<span id="buscar" class="chip tiny" onclick="filtrar('buscar')"><i class="fas fa-search"></i> <span class="filter"><input onkeyup="buscar()" type=""></span></span>
		<span id="social" class="chip tiny" onclick="filtrar('social')"><i class="fas fa-users"></i> <span class="filter">Social</span> (<%= categories['social'] %>)</span>
		<span id="informativo" class="chip tiny" onclick="filtrar('informativo')"><i class="fas fa-book-open"></i> <span class="filter">Informativo</span> (<%= categories['informativo'] %>)</span>
		<span id="negocios" class="chip tiny" onclick="filtrar('negocios')"><i class="fas fa-money-bill"></i> <span class="filter">Negocios</span> (<%= categories['negocios'] %>)</span>
		<span id="ocio" class="chip tiny" onclick="filtrar('ocio')"><i class="fas fa-grin-squint"></i> <span class="filter">Ocio</span> (<%= categories['ocio'] %>)</span>
		<span id="utiles" class="chip tiny" onclick="filtrar('utiles')"><i class="fas fa-calculator"></i> <span class="filter">Útiles</span> (<%= categories['utiles'] %>)</span>
	</div>
</div>

<!-- SERVICES -->
<div class="row">
	<% services.forEach(function(item) { %>
		<% var favorite = item.favorite ? 'favorite' : '' %>
		<div id="<%= item.name %>" class="col s3 m2 center-align service hidden <%= item.category %> long-press <%= favorite %>" data-long-press-delay="500" data-value="<%= item.caption %>" data-description="<%= item.description %>">
			<a href="#!" onclick="apretaste.send({command:'<%= item.name %>'})">
				<span class="fa-stack fa-2x">
					<i class="icon-img fas fa-circle fa-stack-2x green-text text-lighten-1"></i>
					<i class="<%= item.icon %> fa-stack-1x fa-inverse"></i>
					<% if(item.count > 0) { %>
						<div class="icon-alert"></div>
					<% } %>
				</span>
				<p class="icon-text green-text text-lighten-1"><%= item.caption %></p>
			</a>
		</div>
	<% }) %>

	<div id="todosBtn" class="col s3 m2 center-align service hidden favorite">
		<a href="#!" onclick="filtrar('todos')">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x grey-text"></i>
				<i class="fas fa-check-circle fa-stack-1x fa-inverse"></i>
			</span>
			<p class="icon-text grey-text">Ver todos</p>
		</a>
	</div>

	<!-- NO FAVORITES -->
	<div id="empty-note" class="col s12 center-align hidden %>">
		<p class="grey-text empty-note">No tiene servicios favoritos. Mantenga presionado un ícono para hacerlo favorito.</p>
	</div>
</div>

<!-- FAVORITE MODAL -->
<div id="favoriteModal" class="modal" data-value="">
	<div class="modal-content">
		<h4 id="favoriteService">Escuela</h4>
		<p id="favoriteDesc">A bunch of text A bunch of text A bunch of text A bunch of text</p>
		<div class="switch" style="z-index: 999">
			<label>
				Hacer favorito
				<input id="favoriteSwitch" type="checkbox" onchange="toggleFavorite($('#favoriteModal').attr('data-value'))">
				<span class="lever"></span>
			</label>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
	</div>
</div>
