<div class="row widgets">
	<!-- social -->
	<% if(widgets['social']) { %>
	<div class="col s8">
		<div class="widget">
			<div class="row" style="margin-bottom:0px;">
				<div class="col s6" onclick="apretaste.send({command:'AMIGOS'})">
					<p class="label">Amigos</p>
					<i class="fas fa-user-friends"></i> <%= widgets['social'].amigos %>
				</div>
				<div class="col s6" onclick="apretaste.send({command:'RANKING'})">
					<p class="label">Ranking</p>
					<i class="fas fa-trophy"></i> #<%= widgets['social'].ranking %>
				</div>
			</div>
			<div class="division"></div>
			<div class="row" style="margin-bottom:0px;">
				<div class="col s6" onclick="apretaste.send({command:'CHAT'})">
					<p class="label">Chats</p>
					<i class="fas fa-comments"></i> <%= widgets['social'].mensajes %>
				</div>
				<div class="col s6" onclick="apretaste.send({command:'RETOS'})">
					<p class="label">Retos</p>
					<i class="fas fa-flag"></i> <%= widgets['social'].retos %>
				</div>
			</div>
		</div>
	</div>
	<% } %>

	<!-- online -->
	<% if(widgets['online']) { %>
	<div class="col s4">
		<div class="widget">
			<p class="label">Activo desde</p> 
			<span class="white-text"><small><%= widgets['online'].desde %></small></span>
			<div class="division"></div>
			<i class="fas fa-circle fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana >=2 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana >=3 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana >=4 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<br>
			<i class="fas <%= widgets['online'].semana >=5 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana >=6 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
			<i class="fas <%= widgets['online'].semana ==7 ? 'fa-circle' : 'fa-circle-notch' %> fa-xs" style="margin-right:5px;"></i>
		</div>
	</div>
	<% } %>

	<!-- experiencia -->
	<% if(widgets['experiencia']) { %>
	<div class="col s4">
		<div class="widget">
			<p class="label">Experiencia</p>
			<i class="fas fa-bolt"></i> <%= widgets['experiencia'].experiencia %>
			<div class="division"></div>
			<i class="fas fa-gem"></i><br>
			<%= widgets['experiencia'].nivel %>
		</div>
	</div>
	<% } %>

	<!-- amuletos -->
	<% if(widgets['amuletos']) { %>
	<div class="col s4" onclick="apretaste.send({command:'AMULETOS'})">
		<div class="widget">
			<p class="label">Amuletos</p>
			<div class="division" style="margin-bottom:10px;"></div>
			<span class="fa-stack fa-1x" style="margin:2px;">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="material-icons fa-stack-1x fa-inverse green-text"><%= widgets['amuletos'].one %></i>
			</span>
			<span class="fa-stack fa-1x" style="margin:2px;">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="material-icons fa-stack-1x fa-inverse green-text"><%= widgets['amuletos'].two %></i>
			</span>
			<span class="fa-stack fa-1x" style="margin:2px;">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="material-icons fa-stack-1x fa-inverse green-text"><%= widgets['amuletos'].three %></i>
			</span>
		</div>
	</div>
	<% } %>

	<!-- pizarra -->
	<% if(widgets['pizarra']) { %>
	<div class="col s4" onclick="apretaste.send({command:'PIZARRA'})">
		<div class="widget">
			<p style="margin:0px;">Pizarra</p>
			<p class="label">Hoy</p>
			<div class="division"></div>
			<i class="fas fa-thumbs-up"></i> <%= widgets['pizarra'].like %>
			<br>
			<i class="fas fa-comments"></i> <%= widgets['pizarra'].comment %>
		</div>
	</div>
	<% } %>

	<!-- ayuda -->
	<% if(widgets['ayuda']) { %>
	<div class="col s4" onclick="apretaste.send({command:'AYUDA SOPORTE'})">
		<div class="widget">
			<i class="fas fa-headset fa-2x" style="margin-top: 8px;"></i>
			<div class="division"></div>
			<p class="label">Soporte</p>
			<i class="fas fa-comment"></i> <%= widgets['ayuda'].tickets %>
		</div>
	</div>
	<% } %>

	<!-- rifa -->
	<% if(widgets['rifa']) { %>
	<div class="col s4" onclick="apretaste.send({command:'RIFA'})">
		<div class="widget">
			<p>Rifa</p>
			<div class="division"></div>
			<p class="label">
				<% if(widgets['rifa'].fecha) { %>
					<%= moment(widgets['rifa'].fecha).format("MMM D") %>
				<% } else { %>
					No hay rifas
				<% } %>
			</p>
			<i class="fas fa-ticket-alt"></i> <%= widgets['rifa'].tickets %>
		</div>
	</div>
	<% } %>

	<!-- bolita -->
	<% if(widgets['bolita']) { %>
	<div class="col s4" onclick="apretaste.send({command:'BOLITA'})">
		<div class="widget">
			<p class="label">Bolita</p>
			<small><%= moment(widgets['bolita'].corrida).format("MMMM D") %></small>
			<div class="division"></div>
			<div class="lime-text">
				<%= widgets['bolita'].papeleta_day %><%= widgets['bolita'].fijo_day %> <%= widgets['bolita'].corrido1_day %> <%= widgets['bolita'].corrido2_day %>
			</div>
			<div class="blue-grey-text text-darken-4">
				<%= widgets['bolita'].papeleta_night %><%= widgets['bolita'].fijo_night %> <%= widgets['bolita'].corrido1_night %> <%= widgets['bolita'].corrido2_night %>
			</div>
		</div>
	</div>
	<% } %>

	<!-- piropazo -->
	<% if(widgets['piropazo']) { %>
	<div class="col s4" onclick="apretaste.send({command:'PIROPAZO'})">
		<div class="widget">
			<p class="label">Parejas</p>
			<i class="fas fa-heart"></i> <%= widgets['piropazo'].parejas %>
			<div class="division"></div>
			<p class="label">Le gustas</p>
			<i class="fas fa-grin-hearts"></i> <%= widgets['piropazo'].likes %>
		</div>
	</div>
	<% } %>

	<!-- noticia -->
	<% if(widgets['noticia']) { %>
	<div class="col s8" onclick="apretaste.send({command:'NOTICIAS HISTORIA', data:{id: widgets['noticia'].id}})">
		<div class="widget">
			<p class="left-align" style="margin:0px;"><%= widgets['noticia'].titulo %></p>
			<div class="division"></div>
			<span style="margin-right:10px;"><i class="fas fa-newspaper"></i> <%= widgets['noticia'].canal %></span>
			<i class="fas fa-comment"></i> <%= widgets['noticia'].comment %>
		</div>
	</div>
	<% } %>

	<!-- favoritos -->
	<% if(widgets['favoritos'] && widgets['favoritos'].length > 0) { %>
	<div class="col s4">
		<div class="widget">
			<p class="label">Favoritos</p>
			<% widgets['favoritos'].forEach(function(item) { %>
				<a href="#!" class="white-text" onclick="apretaste.send({command:'<%= item.name %>'})">
					<span class="fa-stack fa-1x favorite">
						<i class="fas fa-circle fa-stack-2x white-text"></i>
						<i class="fas <%= item.icon %> fa-stack-1x fa-inverse green-text"></i>
						<% if(item.count > 0) { %>
							<div class="icon-alert icon-favorite"></div>
						<% } %>
					</span>
				</a>
			<% }) %>
		</div>
	</div>
	<% } %>
</div>

<!-- FILTERS -->
<div id="filters" class="row">
	<div class="col s12">
		<span class="chip tiny" data="todos" onclick="filtrar(this)"><i class="fas fa-check-circle"></i> <span class="filter">Todos</span> (<%= services.length %>)</span>
		<span class="chip tiny" data="social" onclick="filtrar(this)"><i class="fas fa-users"></i> <span class="hidden filter">Social</span> (<%= categories['social'] %>)</span>
		<span class="chip tiny" data="informativo" onclick="filtrar(this)"><i class="fas fa-book-open"></i> <span class="hidden filter">Informativo</span> (<%= categories['informativo'] %>)</span>
		<span class="chip tiny" data="negocios" onclick="filtrar(this)"><i class="fas fa-money-bill"></i> <span class="hidden filter">Negocios</span> (<%= categories['negocios'] %>)</span>
		<span class="chip tiny" data="ocio" onclick="filtrar(this)"><i class="fas fa-grin-squint"></i> <span class="hidden filter">Ocio</span> (<%= categories['ocio'] %>)</span>
		<span class="chip tiny" data="utiles" onclick="filtrar(this)"><i class="fas fa-calculator"></i> <span class="hidden filter">Útiles</span> (<%= categories['utiles'] %>)</span>
		<span class="chip tiny" data="buscar" onclick="filtrar(this)"><i class="fas fa-search"></i> <span class="hidden filter"><input id="buscar" onkeyup="buscar()" type=""></span></span>
	</div>
</div>

<!-- SERVICES -->
<div class="row">
	<% services.forEach(function(item) { %>
		<div class="col s3 m2 center-align service <%= item.category %>" data-value="<%= item.caption %>">
			<a href="#!" class="green-text" onclick="apretaste.send({command:'<%= item.name %>'})">
				<span class="fa-stack fa-2x">
					<i class="fas fa-circle fa-stack-2x green-text"></i>
					<i class="<%= item.icon %> fa-stack-1x fa-inverse"></i>
					<% if(item.count > 0) { %>
						<div class="icon-alert"></div>
					<% } %>
				</span>
				<p class="icon-text green-text"><%= item.caption %></p>
			</a>
		</div>
	<% }) %>
</div>
